/***************Form Container************/
.form-container {
  background: #fff;
  width: 680px;
  padding: 62px 15px 33px 15px;
  border-radius: 10px;
}

/****Heading****/
.form-container h1 {
  font-size: 39px;
  color: #555555;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 53px;
}

/*****************Media Queries *****************/
@media only screen and (min-width: 600px) {
  .form-container {
    padding: 62px 110px 33px 110px;
  }

  .form-container .input-container .label-text {
    min-width: 180px;
  }
}
