* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.btn {
  padding: 16px 24px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.5;
  box-shadow: none !important;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
}
