.creator-polls-page {
  display: flex;
  padding: 15px;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #eff0eb;
}

.polls-container {
  width: 800px;
  font-family: Nunito, sans-serif;
  font-weight: 600;
  line-height: 1.125;
  color: #363636;
}

.polls-content {
  background-color: #fff;
  padding: 62px 15px 33px 15px;
  border-radius: 10px;
  color: #4a4a4a;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
}

h1 {
  margin-bottom: 50px;
  font-size: 40px;
  text-align: center;
}

.block {
  margin-bottom: 35px;
}

.label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}

.field {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 7px 40px 7px 11px;
  font-size: 20px;
  color: #777777;
}

.poll-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.poll-btn,
.field-btn,
.results-btn {
  padding: 12px 22px !important;
  border-color: transparent;
}

.poll-btn:hover,
.field-btn:hover,
.results-btn:hover {
  cursor: pointer;
}

.poll-btn {
  margin-right: 20px;
  background-color: #3eb991;
  color: #fff;
}

.field-btn,
.results-btn {
  background-color: #f5f5f5;
  color: #000000b3;
}

@media only screen and (min-width: 600px) {
  .form {
    padding: 62px 110px 33px 110px;
  }
}
